<%-include("../partials/head")%>        
    <link rel="stylesheet" type="text/css" href="../css/listHost/detalhestyle.css">
    <title>List</title>
</head>

<body>
    <%-include("../partials/navbar")%>
 
    <div id="divBody">
        <div id="divJanela">
            <h1>Detalhes</h1>
            <%if(host){%>
                <div id="dadosPOP">
                    <h2><%=host.nome%></h2>
                    <p><%=host.ip%></p>
                </div>
                
                <div id="divInformativos">
                    <div class="dadosLista"> 
                        <div class="tituloLista">
                            <h3>Todos os filhos cadastrados</h3>
                        </div>
                        <div class="corpoLista">
                           
                            <%for(filho of filhos){%>
                                <p><%=filho.nome%></p>
                            <%}%>
                           
                        </div>
                    </div>
    
                    <div class="dadosLista"> 
                        <div class="tituloLista">
                            <h3>LOG</h3>
                        </div>
                        <div class="corpoLista">
                            <ul>
                                <%if(logs){%>
                                    <%for(log of logs){%>
                                        <li><%=log.date%> Serviço <%=log.nome%> com IP <%=log.host%> se <%=log.evento == 1 ? "desconectou" : "reconectou"%></li>
                                    <%}%> 
                                <%}%>
                            </ul>    
                        </div>
                    </div>
                </div>
    
            <%}else{%>
                <h1>Nenhum resultado encontrado</h1>
            <%}%>
        
            <div id="divButtons">
                <%if(host){%>
                    <a href="/detalhe/<%=host._id%>/edit"><button>Alterar</button></a>
                    <a href="/list/add/<%=host._id%>"><button>Adicionar Filho</button></a>
                    <form action="/detalhe/<%=host._id%>?_method=DELETE" method="post">
                        <button>Apagar</button>
                    </form>
                    <form action="/detalhe/<%=host._id%>/clear?_method=DELETE" method="post">
                        <button>Apagar Logs</button>
                    </form>
                <%}%>
                <a href="/list"><button>Voltar</button></a>
            </div>
        </div>
    </div>
</body>

</html>